.nedflix-layout-header {
	padding: 0px 16px 0px 24px;
}

.nedflix__program-button {
	text-decoration: none;
	display: block;
	padding: 5px;
	color: #303030;
}

	.nedflix__program-button:hover {
		background-color: #e0e0e0;
	}