.nedflix-layout-header {
	padding: 0px 16px 0px 24px;
}

.nedflix__program-button {
	text-decoration: none;
	display: block;
	padding: 5px;
	color: #303030;
}

	.nedflix__program-button:hover {
		background-color: #e0e0e0;
	}

.nedflix__program-card {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	max-width: 100%;
}

.nedflix__program-card__title {
	height: 148px;
	/*background-position: center;
	background-size: cover;*/
}

.nedflix__program-card__title-text {
	font-size: 1.3rem;
	padding: 5px;
	background: rgba(0, 0, 0, 0.6);
}

#tegenlicht {
	background: url("http://www.vpro.nl/mediaObject/vpronl/programmas/tegenlicht/logo-tegenlicht/original/logo-tegenlicht.png") center / cover;
}
