{{#each this}}
<div class="nedflix__program-card mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">
    <div style="background: url({{poster}}) center / cover;" class="nedflix__program-card__title mdl-card__title mdl-color--grey-200">
        <span class="nedflix__program-card__title-text mdl-card__title-text mdl-color-text--white">{{name}}</span>
    </div>
    <div class="mdl-card__actions">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Afleveringen<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
</div>
{{/each}}